#loader {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;
	background-color: $black;
	#inner {
		display: flex;
		justify-content: space-around;
		height: 100%;
		flex-direction: column;
		#contentWrap {
			text-align: center;
			img {
				flex: 1;
			}
			p {
				color: $white;
				font-size: 24px;
				padding-top: 20px;
				text-transform: uppercase;
			}
		}
	}
}

#bottomWrapper {
	width: 100%;
	background-color: $white;
	border-top: 1px solid $black;
	padding: 22px 0;
	margin-top: 20px;
	&.bottom {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}

#gridWrap {
	padding: 50px 20px 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1800px;
    margin: 25px auto 0 auto;
	.movieBlock {
		padding: 20px 10px;
		width: 18%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		@media (max-width: 1250px) {
			width: 31%;
		}
		@media (max-width: 900px) {
			width: 46%;
		}
		@media (max-width: 640px) {
			width: 100%;
		}
		div {
			flex: 1;
			&#genreBlock{
				margin-bottom: 5px;
			}
			p {
				margin-bottom: 10px;
				display: inline-block;
				margin-right: 10px;
				&:after{
					content: "●";
					margin-left: 10px;
				}
				&:last-child{
					margin-right:0;
					&:after{
						display: none;
					}
				}
			}
		}
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}

#sidebar {
	width: 400px;
	height: 100%;
	top: 0;
	right: -400px;
	overflow: hidden;
	background-color: $black;
	box-shadow: 5px 5px 10px $grey;
	position: fixed;
	z-index: 3;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	@media (max-width: 640px) {
		width: 100%;
	}
	&.open {
		right: 0;
		opacity: 1;
	}
	ul {
		list-style-type: none;
		margin-top: 72px;
		li {
			background-color: $black;
			display: block;
			text-decoration: none;
			border-bottom: 1px solid $lightwhite;
			width: 50%;
			float: left;
			padding: 10px;
			box-sizing: border-box;
			&:last-child span {
				&:after {
					content: '';
					height: 1px;
					width: 200px;
					position: absolute;
					bottom: 0;
				}
			}
			span {
				color: $lightwhite;
				cursor: pointer;
			}
			input {
				float: right;
			}
		}
	}
}
