* {
	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
	p,
	h1,
	h2 {
		color: $black;
	}
	h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	h3 {
		color: $black;
		font-size: 40px;
		display: block;
		margin: 50px auto 0 auto;
	}
	h4 {
		text-align: center;
		margin-bottom: 30px;
		font-size: 18px;
	}
}

button.standard {
	background-color: $black;
	border: 3px solid $purple;
	font-size: 18px;
	padding: 7px 12px;
	display: block;
	text-transform: uppercase;
	z-index: 3;
	position: relative;
	outline: 0;
	min-width: 160px;
	@media (max-width: 640px) {
		min-width: 0;
		padding: 3px 5px;
		font-size: 12px;
		border-width: 1px;
		height: 40px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	border-bottom: 1px solid $white;
	background-color: $black;
	width: 100%;
	#inner {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		max-width: 1800px;
		margin: 0 auto;
		h1 {
			color: $aqua;
			text-transform: uppercase;
			line-height: 61px;
			@media (max-width: 640px) {
				text-align: center;
				line-height: 41px;
			}
		}
	}
}
