$bg: #abc4e8;
$border: #d8d8d8;
$back: #fcfcfc;
$box: #dbdbdb;
$handle: #dadfe8;

#sliderWrap {
	margin-top: 110px;
	width: 100%;
	float: left;
	padding-bottom: 30px;
	border-bottom: 1px solid $white;
	@media (max-width: 640px) {
		margin-top: 80px;
	}
	span {
		color: $white;
		width: 50px;
		display: block;
		float: left;
		text-align: center;
	}
}

.DefaultProgressBar_progressBar {
	background-color: $bg;
	position: absolute;
}

.DefaultProgressBar_background__horizontal {
	height: 13px;
	top: 0px;
}
.DefaultHandle_handle {
	width: 24px;
	height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: $border;
	background-color: $back;
	border-radius: 20%;
	outline: none;
	z-index: 2;
	box-shadow: 0 2px 2px $box;
}
.DefaultHandle_handle:focus {
	box-shadow: $bg 0 0 1px 1px;
}
.DefaultHandle_handle:after {
	content: '';
	display: block;
	position: absolute;
	background-color: $handle;
}
.DefaultHandle_handle:before {
	content: '';
	display: block;
	position: absolute;
	background-color: $handle;
}
.DefaultHandle_handle__horizontal {
	margin-left: -12px;
	top: -5px;
}
.DefaultHandle_handle__horizontal:before {
	top: 7px;
	height: 10px;
	width: 1px;
	left: 10px;
}
.DefaultHandle_handle__horizontal:after {
	top: 7px;
	height: 10px;
	width: 1px;
	left: 13px;
}

.DefaultBackground {
	background-color: $back;
	height: 15px;
	width: 100%;
	border: 1px solid $border;
	position: relative;
}
.DefaultBackground_background__horizontal {
	height: 15px;
	top: -2px;
	left: -2px;
	bottom: 4px;
	width: 100%;
}

.rheostat {
	position: relative;
	overflow: visible;
	max-width: 300px;
	float: left;
	width: 100%;
	@media (max-width: 640px) {
		max-width: calc(100% - 100px);
	}
}

@media (min-width: 1128px) {
	.autoAdjustVerticalPosition {
		top: 12px;
	}
}

.handleContainer {
	height: 15px;
	top: -2px;
	left: -2px;
	bottom: 4px;
	width: 100%;
	position: absolute;
}
.rheostat_background {
	background-color: $back;
	border: 1px solid $border;
	position: relative;
}
.rheostat_background__horizontal {
	height: 15px;
	top: -2px;
	left: -2px;
	bottom: 4px;
	width: 100%;
}
